---

---

<!-- You can open the modal using ID.showModal() method -->
<button
    class="text-xl lg:text-2xl mb-4 font-thin"
    onclick="modal_hypno.showModal()"
    >Hypnose - Hypnotherapie Ericksonienne</button
>
<dialog id="modal_hypno" class="modal">
    <div class="modal-box p-4 m-4 max-w-3xl">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >✕</button
            >
        </form>
        <div class="lg:w-4/6 mx-auto">
            <h3 class="text-xl lg:text-2xl mb-4 font-thin">
                Hypnose - Hypnotherapie Ericksonienne
            </h3>
            <p class="text-lg lg:text-xl mb-4 font-thin">
                L'hypnothérapie, pratiquée depuis des siècles, a été l'objet de
                nombreuses recherches scientifiques. Les résultats ont révélé de
                multiples bienfaits pour le corps et l'esprit, pouvant
                contribuer au soulagement de divers troubles répertoriés par des
                institutions telles que l'OMS. En ciblant les processus mentaux
                et en utilisant des techniques spécifiques, l'hypnothérapie peut
                aider à surmonter des défis allant de l'anxiété et du stress à
                la gestion de la douleur, en passant par l'amélioration de la
                confiance en soi et la gestion des phobies. Selon les besoins
                individuels, une séance d'hypnothérapie peut favoriser la
                relaxation profonde, améliorer la concentration, encourager des
                changements de comportement positifs et même aider à libérer des
                traumatismes émotionnels. En somme, l'hypnothérapie offre un
                potentiel significatif pour le bien-être physique et émotionnel,
                offrant une voie vers un équilibre mental et une santé globale.
            </p>
        </div>
    </div>
</dialog>
