---

---

<!-- You can open the modal using ID.showModal() method -->
<button
    class="text-xl lg:text-2xl mb-4 w-5/6 font-thin"
    onclick="modal_reflex.showModal()">La réflexologie dorsale</button
>
<dialog id="modal_reflex" class="modal">
    <div class="modal-box p-4 m-4 max-w-3xl">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >✕</button
            >
        </form>
        <div class="lg:w-4/6 mx-auto">
            <h3 class="text-xl lg:text-2xl mb-4 font-thin">
                La réflexologie dorsale
            </h3>
            <p class="text-lg lg:text-xl mb-4 font-thin">
                Notre dos est un véritable réservoir à émotions. D’ailleurs,
                selon l’expression consacrée ne dit-on pas « j’en ai plein le
                dos » ou encore « je porte tout sur mes épaules ». Afin de
                libérer les points d’énergie, le praticien utilise une grande
                diversité de techniques précises variant selon les zones, l’âge
                et la constitution de la personne.
            </p>
            <p class="text-lg lg:text-xl mb-4 font-thin">
                Ce n’est pas un massage et cette technique est réalisée sur une
                Ce soin est composé de nombreux gestes, plus ou moins profonds
                dans les tissus, s’effectuant avec les pouces, les doigts, les
                coudes, les avants bras. Le rythme des gestes peut être plus ou
                moins rapide.
            </p>
            <p class="text-lg lg:text-xl mb-4 font-thin">
                Ce soin stimule les points d’énergie et fait circuler le sang
                dans les tissus, il apporte un bien être et un relâchement et
                peut contribuer au soulagement des douleurs et différents maux
                pouvant gêner le quotidien. Il est pratiqué avec des huiles
                végétales et des huiles essentielles bio adaptées à chacun.
            </p>
        </div>
    </div>
</dialog>
