---

---

<!-- You can open the modal using ID.showModal() method -->
<button
    class="text-xl lg:text-2xl mb-4 w-5/6 font-thin"
    onclick="modal_vent.showModal()">Ventouses Therapeutiques</button
>
<dialog id="modal_vent" class="modal">
    <div class="modal-box p-4 m-4 max-w-3xl">
        <form method="dialog">
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                >✕</button
            >
        </form>
        <div class="lg:w-4/6 mx-auto">
            <h3 class="text-xl lg:text-2xl mb-4 font-thin">Les ventouses</h3>
            <p class="text-lg lg:text-xl mb-4 font-thin">
                Les ventouses étaient autrefois très employées en Occident,
                entre autres pour drainer les abcès ou pour traiter les maladies
                pulmonaires. <br />
                Dans le bien être, elles sont souvent utilisées pour contribuer à
                soulager les douleurs, les problèmes de peau, les oedèmes, produire
                de la détente musculaire etc <br />
                Elles sont alors positionnée sur des zones choisies, plus ou moins
                longtemps selon l’effet souhaité.
            </p>
        </div>
    </div>
</dialog>
