---
import { Image } from "astro:assets";

import logo from "../../public/evelogo.svg";
---

<script>
    function toggleHidden() {
        const checkbox = document.getElementById("toggleCheckbox");
        const hiddenDiv = document.getElementById("toggleDiv");
        const hiddenLogo = document.getElementById("toggleLogo");

        checkbox.addEventListener("click", function () {
            hiddenDiv.classList.toggle("hidden");
            hiddenDiv.classList.toggle("flex");

            hiddenLogo.classList.toggle("flex");
            hiddenLogo.classList.toggle("hidden");
            console.log("Toggled!");
        });

        const aTags = document.querySelectorAll("a");

        aTags.forEach(function (aTag) {
            aTag.addEventListener("click", function () {
                checkbox.click();
                hiddenDiv.classList.add("hidden");
                hiddenDiv.classList.remove("flex");
            });
        });
    }

    toggleHidden();

    document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll('a[href^="#"]');
        links.forEach((link) => {
            link.addEventListener("click", function (event) {
                event.preventDefault();
                const targetId = this.getAttribute("href");
                const targetElement = document.querySelector(targetId);
                targetElement.scrollIntoView({ behavior: "smooth" });
            });
        });
    });
</script>

<header id="header" class="px-4 opacity-90">
    <div id="toggleLogo" class="w-44 absolute top-0 left-0 z-50">
        <a href="#top">
            <Image class="" src={logo} alt="" />
        </a>
    </div>

    <div class="navbar justify-end p-4">
        <label
            class="btn btn-ghost btn-square swap swap-rotate bg-base-100 z-50"
        >
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" id="toggleCheckbox" />

            <!-- hamburger icon -->
            <svg
                class="swap-off fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 512 512"
            >
                <path
                    d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
                ></path>
            </svg>

            <!-- close icon -->
            <svg
                class="swap-on fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 512 512"
            >
                <polygon
                    points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
                ></polygon>
            </svg>
        </label>
    </div>
</header>

<div
    class="hidden absolute top-20 w-full flex-col items-center z-20 bg-base-100 py-8 border-b border-base-200"
    id="toggleDiv"
>
    <nav>
        <ul>
            <li>
                <a class="btn btn-ghost text-lg" href="#traitements"
                    >Traitements</a
                >
            </li>
            <li>
                <a class="btn btn-ghost text-lg" href="#techniques"
                    >Techniques</a
                >
            </li>
            <li>
                <a class="btn btn-ghost text-lg" href="#bio">A propos</a>
            </li>
            <li>
                <a class="btn btn-ghost text-lg" href="#contact">Contact</a>
            </li>
            <li>
                <a class="btn btn-ghost text-lg" href="#faq">F.A.Q</a>
            </li>
            <li>
                <button
                    class="btn btn-ghost text-lg"
                    onclick="my_modal_3.showModal()"
                >
                    Prendre RDV
                </button>
            </li>
        </ul>
    </nav>
    <div class="">
        <Image class="h-60" src={logo} alt="" />
    </div>
</div>
